.add-device-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.add-device-form {
    padding: 1em;
    width: 30em;
}

.add-device-button {
    margin-top: 1em;
    width: 100%;
}

.add-device-form__input {
    display: block;
}
