<div class="add-device-wrapper">
    <div class="add-device-form">

        <mat-form-field appearance="outline" class="add-device-form__input">
            <mat-label>Id</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline" class="add-device-form__input">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline" class="add-device-form__input">
            <mat-label>Model</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>

        <button mat-flat-button class="add-device-button">Add</button>
    </div>
</div>

