<div class="add-device-form__wrapper">
    <form [formGroup]="deviceForm.form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="add-device-form__control">
            <mat-label>Device id</mat-label>
            <input matInput [formControl]="deviceForm.controlsMap.deviceId">
            <mat-error *ngIf="deviceForm.controlsMap.deviceId?.hasError('invalidUUID')">
                Device ID must be in UUID format.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="add-device-form__control">
            <mat-label>Device name</mat-label>
            <input matInput [formControl]="deviceForm.controlsMap.deviceName">
        </mat-form-field>

        <mat-form-field appearance="fill" class="add-device-form__control">
            <mat-label>Device model</mat-label>
            <input matInput [formControl]="deviceForm.controlsMap.deviceModel">
        </mat-form-field>

        <button mat-flat-button color="primary" [disabled]="deviceForm.form.invalid || loading()" class="add-device-form__btn" type="submit">
            <mat-spinner *ngIf="loading()" diameter="24" color="primary" mode="indeterminate"></mat-spinner>
            <span *ngIf="!loading()">Add</span>
        </button>
    </form>

    @for (item of newDevices; track item) {
        <mat-list-item>
            {{ item | json }}
        </mat-list-item>
    }
</div>
